.reviews__photo {
  width: 250px;
  height: 250px;
  border-radius: 50%;

  object-fit: contain;

  margin: 10px 0 0 0;
}

@media screen and (max-width: 600px) {
  .reviews__photo {
    width: 125px;
    height: 125px;
  }
}