.promo-people__text {
  margin: 0;
  padding: 10px;

  font-family: 'Inter', Arial, sans-serif;
  font-size: 18px;
}

@media screen and (max-width: 600px) {
  .promo-people__text {
    font-size: 12px;
  }
}